<meta charset="utf-8">
<title>{$Think.config.WEB_NAME}</title>
<meta name="keywords" content="黑色模板,个人网站模板,个人博客模板,博客模板,css3,html5,网站模板" />
<meta name="description" content="这是一个有关黑色时间轴的css3 html5 网站模板" />
<link href="__PUBLIC__/index/css/styles.css" rel="stylesheet">
<link href="__PUBLIC__/index/css/view.css" rel="stylesheet">
<link href="__PUBLIC__/index/css/animation.css" rel="stylesheet">
<!-- 返回顶部调用 begin -->
<link href="__PUBLIC__/index/css/lrtk.css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/index/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/js.js"></script>
<!-- 返回顶部调用 end-->
<!--[if lt IE 9]>
<script src="__PUBLIC__/index/js/modernizr.js"></script>
<![endif]-->